<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      <% if (is_home()) { %>
      <a class="post-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
      <% } else { %>
      <%= post.title %>
      <% } %>
    </h1>

    <div class="post-meta">
      <span class="post-time">
        <%- full_date(post.date, 'YYYY-MM-DD') %>
      </span>
      <% if (post.author) { %>
      <span class="post-author">
        / <%= post.author %>
      </span>
      <% } %>
      <% if (post.categories && post.categories.length) { %>
      <span class="post-category">
        <% post.categories.forEach(function(category) { %>
        <a href="<%= url_for(category.path) %>"><%= category.name %></a>
        <% }); %>
      </span>
      <% } %>
      <% if (theme.leancloud && theme.leancloud.app_id && theme.leancloud.app_key) { %>
      <span class="post-visits" data-url="<%= url_for(post.path) %>" data-title="<%= post.title %>">
        <%= __('posts.visits') %> 0
      </span>
      <% } %>
    </div>
  </header>

  <%- partial("../_partial/_post/toc.ejs") %>

  <div class="post-content">
    <% if (is_home()) { %>
    <% var excerpt = ""; %>
    <% if (post.description) { %>
    <% excerpt = '<p>' + post.description + '</p>'; %>
    <% } else if (post.excerpt) { %>
    <% excerpt = post.excerpt; %>
    <% } %>

    <% if (excerpt) { %>
    <%- excerpt %>
    <div class="read-more">
      <a href="<%= url_for(post.path) %>" class="read-more-link"><%- __('posts.readmore') %></a>
    </div>
    <% } else { %>
    <%- post.content %>
    <% } %>
    <% } else { %>
    <%- post.content %>
    <% } %>
  </div>

  <% if (!is_home()) { %>
  <%- partial("../_partial/_post/copyright.ejs") %>
  <%- partial("../_partial/_post/reward.ejs") %>
  <% } %>

  <% if (!is_home()) { %>
  <footer class="post-footer">
    <% if (post.tags && post.tags.length) { %>
    <div class="post-tags">
      <% post.tags.forEach(function(tag) { %>
      <a href="<%= url_for(tag.path) %>"><%= tag.name %></a>
      <% }); %>
    </div>
    <% } %>
    <%- partial("../_partial/pagination.ejs") %>
  </footer>
  <% } %>

</article>