<!-- Post Copyright -->
<% if (theme.copyright.enable && page.copyright !== false) { %>
<div class="post-copyright">
  <p class="copyright-item">
    <span><%- __('copyright.author') + ': ' %></span>
    <a href="<%- config.url %>"><%- config.author %></a>
  </p>
  <p class="copyright-item">
    <span><%- __('copyright.link') + ': ' %></span>
    <a href="<%- page.permalink %>"><%- page.permalink %></a>
  </p>
  <p class="copyright-item">
    <span><%- __('copyright.license') + ': ' %></span>
    <% var license = page.license || theme.copyright.license; %>
    <%- license %>
  </p>
</div>
<% } %>