//- Logo
a.logo(href=url_for('.'))
  = config.title
  
//- Navbar
ul.nav
  each link, name in theme.menu
    li.nav-link
      if is_home() && name == "Home"
        a.active(href=link)
          != __(name)
          
      else if is_archive() && name == "Archives"
        a.active(href=link target="_self")
          != __(name)

      else if (is_category() || page.layout == "categories") && name == "Categories"
        a.active(href=link target="_self")
          != __(name)
          
      else if (is_tag() || page.layout == "tags") && name == "Tags"
        a.active(href=link target="_self")
          != __(name)
          
      else if page.layout == "about" && name == "About"
        a.active(href=link target="_self")
          != __(name)
      else if page.layout == "page" && page.title == name
        a.active(href=link target="_self")
          != __(name)
      else
        a(href=link target="_self")
          != __(name)
