input(type="checkbox", id="sidebar-toggle")
aside
  .author
    a(href=url_for('.'))
      img.author-img(src=url_for("img/author.png"))
    h2.author-name!= config.author
  if is_post()
    .post-toc
      span.toc-title
        != __('Directory')
      != toc(page.content, {list_number: false})
  else
    if theme.social 
      .social
        span.title Social
        ul.links
          each link, name in theme.social
            li.link-item
              a(href="#{link}")
                div(class="icon icon-#{name}")
                != name
    if theme.friends
      .friends
        span.title Friends Link
        ul.links
          each link, name in theme.friends
            li.link-item
              i(class="fa fa-link")
              a(href="#{link}")
                != name
