<div class="logo-wrapper">  
  <a href="<%- url_for('.') %>" class="logo"><%- config.title %></a>  
</div>  
  
<nav class="site-navbar">  
  <% if (theme.menu) { %>  
    <ul id="menu" class="menu">  
      <% for (var name in theme.menu) { %>  
        <li class="menu-item">  
          <a class="menu-item-link" href="<%- url_for(theme.menu[name]) %>">  
            <% var itemName = __('menu.' + name.toLowerCase()); %>  
            <% if (itemName.startsWith('menu')) { %>  
              <%- name %>  
            <% } else { %>  
              <%- itemName %>  
            <% } %>  
          </a>  
        </li>  
      <% } %>  
    </ul>  
  <% } %>  
</nav>  
