//- Comment
mixin comment()
  if theme.disqus_shortname
    section#comments
      div#disqus_thread
    script(type="text/javascript").
      var disqus_config = function () {
          this.page.url = '#{page.permalink.replace(/index\.html/,'')}';
          this.page.identifier = '#{page.path.replace(/index\.html/,'')}';
          this.page.title = '#{page.title}';
      };
      (function() {
      var d = document, s = d.createElement('script');

      s.src = '//#{theme.disqus_shortname}.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  else if theme.duoshuo_shortname
    section#comments
      .ds-thread(data-thread-key=url data-title=page.title data-url=url)

      script(type="text/javascript").
        var duoshuoQuery = {short_name: "#{theme.duoshuo_shortname}" };
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
