//- Home
mixin home()
  ul.home
    - page.posts.each(function (item) {
      li.post-item
        article.post
          h2.post-title
            a.post-link(href=url_for(item.path))
              != item.title
          span.post-time
            != full_date(item.date, 'll')
          - var excerpt = item.description || item.excerpt;
          if excerpt
            div.post-content
              != excerpt
            a.read-more(href=url_for(item.path))
              != __('more')
          else
            div.post-content
              != item.content

    - })

//- Post
mixin post()
  article.post
    h1.post-title
      != page.title
    span.post-time
      != full_date(page.date, 'll')
    if theme.sidebar && toc(page.content)
      .post-sidebar#sidebar
        h3.heading
          != __('toc')
        != toc(page.content, {list_number: false})
    .post-content
      != page.content

//- Archive
mixin archive()
  .archive
    - var year = 0;
    - var change = false;
    - page.posts.each(function (item) {
      - var itemYear = date(item.date, 'YYYY') - 0;
      - change = year !== itemYear;
      - year = change ? itemYear : year;

      if change
        h2.year
          != year
      .post-item
        .post-time
          != full_date(item.date, 'MMM D')
        a.post-link(href=url_for(item.path))
          != item.title
    - })

//- Category
mixin category()
  .archive
    h2.category
      = page.category
    each item in page.posts.toArray()
      .post-item
        .post-time.category
          != full_date(item.date, 'll')
        a.post-link(href=url_for(item.path))
          != item.title

//- Tag
mixin tag()
  .archive
    h2.tag
      = page.tag
    each item in page.posts.toArray()
      .post-item
        .post-time.tag
          != full_date(item.date, 'll')
        a.post-link(href=url_for(item.path))
          != item.title

//- Page
mixin page()
  article.post
    article.post-block
      .post-content
        != page.content

//- About
mixin about()
  article.post
    article.post-block
      .post-content
        != page.content
